venv/
.venv/
__pycache__/
*.pyc
.env
.flake8
.csv
csv
exp


###
fractal_rsi/backtests
cross/wrong_data
cross/sell/backtests
cross/align_cross

sample_data

zscore/sample_data
zscore/output_M5_abs
zscore/swings
zscore/swings_abs
zscore/M5
zscore/H1
zscore/bt
zscore/zscore2ema
zscore/filtered
zscore/legacy
zscore/classified_atr_minus
zscore/classified_atr_plus
zscore/output_H1
zscore/monthly_classified

*.csv


