venv/
.venv/
__pycache__/
*.pyc
.env
.flake8
.csv
csv
exp


###
fractal_rsi/backtests
cross/wrong_data
cross/sell/backtests
cross/align_cross

sample_data

z_score/sample_data
z_score/output_M5_abs
z_score/swings
z_score/swings_abs

*.csv